{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
			<img src="{% static 'images/Mustang-Bike-Tour.jpg' %}" class="img-fluid img-center">
			<div class="container">
				<h4 class="text-center">Upper Mustang Motorbiking Tour - 15 Days</h4>
				<p>
				Highlights

				        Visit historical monuments in Kathmandu and natural sights in Pokhara
				        Motor Biking through typical villages, monasteries, temples and historical caves
				        Start your riding at low land, greenery and reach at scenic Tibetan plateau at Upper Mustang region
				        Visit major and famous villages at Lower Mustang before reaching Upper Mustang
				        Ride till Tibetan boarder from Lomanthang
				        Visit caves, villages and Monasteries specialy in Lomanthang
				        Optin to hire your bike in Kathmandu
				        Backup transporation and helpful guide and Mechanic
				        Overnight at local guest houses, foods from local tea houses
				</p>

			</div>
		</div>
	</div>

{% endblock %}