{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login">
			<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <!-- Tabs Titles -->

		    <!-- Icon -->
		    <!-- <div class="fadeIn first">
		      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
		    </div>
 -->
		    <!-- Login Form -->
		    <h4>Log-In</h4>

		    <form class="log_in" method="post">
				{% csrf_token %}
		      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" required>
		      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
		      <input type="submit" class="fadeIn fourth bg-dark" value="Log In">
		    </form>

		    <!-- Remind Passowrd -->
		    <div id="formFooter">
		      <a class="underlineHover" href="#">Don't have an account?</a>
		    </div>
			</div>
				<p>{{error}}</p>
			</div>
</div>
</div>
{% endblock %}