{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
							    <label for="User_email">Email:</label>
							    <input type="text" class="form-control" placeholder="Name" name="User_email">
            </div>
            <div class="form-group">
							    <label for="User_review">Review:</label>
							    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="User_review"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container">
        {% for bikereview in review %}
        <div class="col-lg-4">
                 <div class="card col-lg-12 reviews">
                        <img class="card-img-top" src="..." alt="Card image cap">

                         <div class="card-body">

                            <h5 class="card-title"> {{ bikereview.user }} </h5>
                             <p class="card-text">{{ bikereview.message }}</p>
<!--                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->

                         </div>

    </div>
</div>
{% endfor %}
{% endblock %}